node_modules
build
npm-debug.log
.DS_Store
/uploads

# .gitignore

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
./node_modules

# Environment variables
.env

#credential
credential.json